<div class="col-6 mt-4 bg-light p-0">
  <h2 class="alert alert-primary text-center">Add new recipe</h2>
  <form [formGroup]="recipeForm" (ngSubmit)="saveRecipe()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" class="form-control" formControlName="name"/>
      <small
        *ngIf="fieldHasError('name', 'required')"
        class="form-text invalid-form-text"
      >
        Enter the name of recipe
      </small>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
      <small
        *ngIf="fieldHasError('description', 'required')"
        class="form-text invalid-form-text"
      >
        Enter the description of recipe
      </small>
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      <input type="text" id="image" class="form-control" formControlName="image"/>
      <small
        *ngIf="fieldHasError('image', 'required')"
        class="form-text invalid-form-text"
      >
        Enter the image of recipe
      </small>
    </div>
    <div class="form-group">
      <label for="ingredients">Ingredients:</label>
      <textarea class="form-control" id="ingredients" formControlName="ingredients"></textarea>
      <small
        *ngIf="fieldHasError('ingredients', 'required')"
        class="form-text invalid-form-text"
      >
        Enter the ingredients of recipe
      </small>
    </div>
    <div class="form-group" formArrayName="steps">
      <label for="stepImage">Steps:</label>
      <button
        type="button"
        class="btn btn-secondary ml-3 mb-3"
        (click)="addSteps()"
      >Add step
      </button>
      <small
        *ngIf="!stepButtonIsClicked"
        class="form-text text-warning"
      >
        You need to add at least one step
      </small>
      <div class="form-group" *ngFor="let _ of getStepsControls(); let i = index">
        <div [formArrayName]="i">
          <p>Step {{ i + 1 }}</p>
          <div class="mb-2">
            <input type="text" id="stepImage" class="form-control" formControlName="stepImage"
                   placeholder="Here is image"/>
            <small
              *ngIf="stepsControlHasError('stepImage', i, 'required')"
              class="form-text invalid-form-text"
            >
              Enter the image of step
            </small>
          </div>
          <div>
            <textarea formControlName="stepDescription" class="form-control"
                      placeholder="Here is description"></textarea>
            <small
              *ngIf="stepsControlHasError('stepDescription', i, 'required')"
              class="form-text invalid-form-text"
            >
              Enter the description of step
            </small>
          </div>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="formIsInvalid() || isUploading"
    >
      <span *ngIf="!isUploading">
         Save
      </span>
      <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
        <span class="sr-only">Loading...</span>
      </span>
    </button>
  </form>
</div>


