<div class="mt-4 bg-light">
  <h2 class="alert alert-warning text-center">Recipes</h2>
  <div *ngIf="!isFetching; else loading" class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let recipe of recipes; let i = index">
      <div class="card h-100">
        <img [src]="recipe.image" class="card-img-top" [alt]="recipe.name" style="max-height: 220px">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text ">{{ recipe.description }}</p>
        </div>
        <div class="card-footer text-right bg-dark">
          <a [routerLink]="['/recipes', recipe.id]" class="btn btn-outline-warning mr-2">View</a>
          <button
            *ngIf="!isRemoving || !recipe.isRemoving; else removingSpinner"
            type="button"
            class="btn btn-outline-danger"
            (click)="onRemove(recipe.id, i)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #removingSpinner>
    <div *ngIf="isRemoving" class="spinner-border"></div>
  </ng-template>
  <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
  </ng-template>
</div>
