<h2 class="alert alert-warning text-center mt-4">Recipe details</h2>
<div class="row align-items-center bg-light p-3 mb-4">
  <div class="col-6 col-md-4">
    <img [src]="recipe.image" [alt]="recipe.name" class="img-thumbnail">
  </div>
  <div class="col-md-8">
    <h3 class="alert alert-warning text-center">{{ recipe.name.toUpperCase() }}</h3>
    <div class="alert alert-warning">
      <span class="font-weight-lighter">Description: </span>
      {{ recipe.description }}
    </div>
    <div class="alert alert-warning">
      <span class="font-weight-lighter">Ingredients: </span>
      {{ recipe.ingredients }}
    </div>
  </div>
</div>
<h4 class="alert alert-light text-center">Steps</h4>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4" *ngFor="let step of recipe.steps; let i = index">
    <div class="card h-100">
      <div class="card-header text-center">Step {{ i + 1 }}</div>
      <div class="text-center mt-2">
        <img [src]="step.stepImage" [alt]="i + 1" style="width: 150px; height: 100px">
      </div>
      <div class="card-body">
        <p class="card-text font-italic">{{ step.stepDescription }}</p>
      </div>
    </div>
  </div>
</div>






